textColor = #262626
linkColor = textColor //lightskyblue

body
  color textColor
  font-size 16px
  padding-top 20px
  padding-bottom 100px

a
  &,
  &:hover
    color linkColor

[class*="icon-"]
  color #ccc
  cursor pointer
  display inline-block

.user-email
  color #000
  float right
  line-height 5px

.back
  font-size 40px
  margin-top 30px
  a
    &,
    &:hover
      text-decoration none

#login
  text-align center
  margin-top 50px
  position relative

  div
    margin 20px auto

  h5
    font-size 19px

  .button
    padding 0.55em 0.8em
    font-size 20px

.post

  & > div
    position relative

  .edit
    border 1px solid #eee
    min-height 60px


  .actions,
  .title,
  .date,
  .content,
  .footer,
  .comments
    margin-top 20px
    margin-bottom 20px

  .actions
    right 0
    top 0
    position absolute

  .title
    margin 30px 0 5px
    font-size 40px
    a
      &,
      &:hover
        color #444

  .date
    margin 5px 0 20px
    color #999

  .content

    .editor
      min-height 350px
      border 1px solid #bbb
      border-radius 2px

  .footer
    a
      &,
      &:hover
        color hotpink

    .tags
      display inline-block
      ol
        padding 0
        li
         display inline-block
         a
          text-decoration underline
    
    .comments-label
      display inline-block
      float right


  .comments
    
    .head
      margin-bottom 100px

    .comment
      margin 2px
      display block
      overflow auto

      .editing
        border-top 1px solid #eee
        padding-top 20px
        padding-bottom 30px

i
  font-size 13px

button
  &.red
    background-color tomato
  &.green
    background-color green
  &.blue
    background-color deepskyblue