!!!5
html(lang='en')
  head
    
    meta(charset='UTF-8' )
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Blog

    link(rel='shortcut icon', href='app/img/favicon.ico')
    link(rel='apple-touch-icon', href='app/img/apple-touch-icon.png')
    link(href='build.css', rel='stylesheet', media='screen')

  body

    .grid#app

    script(type='text/javascript', src='build.js')
    :coffeescript
      require 'app'
