
| {{#with content}}

.col-2-12
  .back
    | {{#linkTo "posts.index"}}↰{{/linkTo}}


.col-8-12.post

  div

    
    .actions

      | {{#if controller.userController.content._is_admin}}

      | {{#linkTo "post.edit" this}}
      i.icon-pencil
      | {{/linkTo}}

      <a {{action removePost this}} href="javascript:">
      i.icon-remove
      </a>
      
      | {{/if}}

    .title
      | {{#linkTo "post.index" this}}
      | {{title}}
      | {{/linkTo}}

    .date
      | {{_date}}

    .content
      | {{{unbound content}}}


    .footer

      .tags
        ol
          li
            a(href="#") #design
          li
            a(href="#") #graphics


    .comments

      br
      h3 Comments
      br

      | {{#if controller.userController.content}}

      div
        | {{view App.EditorView class="edit" valueBinding="controller.comment.content"}}

      .col-10-12.empty
      .col-2-12
        br
        <button {{action saveComment this}} class="blue" type="submit">Comment</button>

      | {{/if}}

      | {{#each _comments}}
      div
        | {{#if controller.userController.content}}
        .col-9-12.empty
        .col-3-12
          | {{#linkTo "post.edit" this}}
          i.icon-pencil
          | {{/linkTo}}

          <a {{action removeComment this}} href="javascript:">
          i.icon-remove
          </a>
        | {{/if}}
      .comment
        | {{content}}
      | {{/each}}

.col-2-12.empty

| {{/with}}