
| {{#with content}}

.col-2-12
  .back
    | {{#linkTo "posts.index"}}↰{{/linkTo}}


.col-8-12.post

  div

    
    .actions

      | {{#if controller.user.is_admin}}

      | {{#linkTo "post.edit" this}}
      i.icon-pencil
      | {{/linkTo}}

      <a {{action removePost this}} href="javascript:">
      i.icon-remove
      </a>
      
      | {{/if}}

    .title
      | {{#linkTo "post.index" this}}
      | {{title}}
      | {{/linkTo}}

    .date
      | {{date}}

    .content
      | {{{unbound content}}}


    .footer

      .tags
        ol
          | {{#each tags}}
          li
            a(href="#") #\{{name}}
          | {{/each}}

    | {{debugger controller}}
    .comments

      div

        br
        h3 Comments
        br

      // create comment
      | {{#if controller.user}}

      .head
        div
          | {{controller.comment}}
          | {{view App.EditorView class="edit" valueBinding="controller.comment"}}

        div
          .col-10-12.empty
          .col-2-12
            br
            <button {{action createComment this}} class="blue" type="submit">Comment</button>

      | {{/if}}


      // comments
      ul

        | {{#each comments}}

        li.comment

          | {{#unless editing}}

          .editing
            .col-11-12
              | {{{content}}}
            .col-1-12
              <a {{action editComment this}} href="javascript:">
              i.icon-pencil
              </a>

              <a {{action removeComment this}} href="javascript:">
              i.icon-remove
              </a>


          | {{else}}
          
          .showing
            | {{#if controller.user}}
            div
              | {{view App.EditorView class="edit" valueBinding="content"}}

            div
              .col-8-12.empty
              .col-4-12
                br
                <button {{action updateComment this}} class="blue" type="submit">Update</button>
                <button {{action cancelCommentUpdate this}} class="white">Cancel</button>
            | {{/if}}

          | {{/unless}}



        | {{/each}}

.col-2-12.empty

| {{/with}}