| {{#if user.is_admin}}

| {{#with content}}
form.form-horiz.post
  legend {{#if id }}Edit{{else}}New{{/if}} Post
  fieldset

    .control-group
      .col-2-12
        | Title
      .col-10-12
        div
          | {{view Em.TextField valueBinding="title" for="title"}}
        .error
          | {{_errors.title}}

    .control-group.content
      .col-2-12
        | Content
      .col-10-12
        div
          | {{view App.EditorView valueBinding="content" for="content" class="editor"}}
        .error
          | {{_errors.content}}

    .control-group
      .col-2-12
        | Tags
      .col-10-12
        div
          | {{view App.TagsView id="tags"}}
        .help
          | Hit `Enter` when adding tags

    .control-group
      .col-2-12.empty
      .col-10-12
        <button {{action savePost this}} class="red">Save</button>
        <button {{action cancelPostEdit this}} class="white">Cancel</button>

| {{/with}}

| {{else}}


.back
  | {{#linkTo "posts.index"}}↰ denied{{/linkTo}}


| {{/if}}