
.col-2-12.empty


.col-8-12


  .col-1-2
    | {{#if user.isSuperUser}}
    | {{#linkTo "posts.new"}}
    button.green New Post
    | {{/linkTo}}
    | {{/if}}

    
    | {{#if user.id }}
    a.button.white(href='/logout')
      | Logout
    | {{ else }}
    a.button.white(href='/login')
      | Login
    | {{/if}}

  .col-1-2
    br
    em.user-email {{user.name}}

  br
  br

  div

    ol.posts

      | {{#each controllers.posts}}

      li.post

        div
          
          .actions

            | {{#if controller.user.isSuperUser}}

            | {{#linkTo "post.edit" this}}
            i.icon-edit
            | {{/linkTo}}

            <a {{action removePost this}} href="javascript:">
            i.icon-remove
            </a>
            
            | {{/if}}

          .title
            | {{#linkTo "post.index" this}}
            | {{title}}
            | {{/linkTo}}

          .date
            | {{date}}

          .content
            | {{{unbound content}}}


          .footer

            .tags
              ol
                | {{#each tags}}
                li
                  a(href="#") #\{{name}}
                | {{/each}}

            .comments-label
              | {{#linkTo "post.index" this}}
              | comments - {{comments.length}}
              | {{/linkTo}}

      | {{/each}}

  

  //
    | {{#if isLoaded}}

    | {{else}}

    | {{view App.LoaderView}}

    | {{/if}}

.col-2-12.empty